<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peakmain.ui">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <provider
            android:name="com.peakmain.ui.BasicUIProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/basic_ui_provider_paths" />
        </provider>
    </application>
</manifest>
