<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peakmain.basicui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.home.DialogActivity" />
        <activity android:name=".activity.home.NaviagtionBarActivity" />
        <activity android:name=".activity.home.PopWindowAndFlowActivity" />
        <activity android:name=".activity.home.AutoEditTextActivity" />
        <activity android:name=".activity.home.ShapeTextViewActivity" />
        <activity android:name=".activity.home.TableLayoutActivity" />
        <activity android:name=".activity.home.MultiMenuActivity" />
        <activity android:name=".activity.home.keyboard.CustomPasswordKeyboardActivity" />
        <activity android:name=".activity.home.LockScreenActivity" />
        <activity android:name=".activity.home.loading.LoadingActivity" />
        <activity android:name=".activity.home.loading.InspectLoadingActvivity" />
        <activity android:name=".activity.home.loading.ShapeLoadingActivity" />
        <activity android:name=".activity.home.loading.RotatingLoadingActivity" />
        <activity android:name=".activity.home.recylcer.RecyclerActivity" />
        <activity android:name=".activity.home.recylcer.activity.GridGroupingActivity" />
        <activity android:name=".activity.home.recylcer.activity.LinearGroupingActivity" />
        <activity android:name=".activity.home.recylcer.activity.SuspenisonLinearActivity" />
        <activity android:name=".activity.home.recylcer.activity.SuspenisonGridActivity" />
        <activity android:name=".activity.home.recylcer.activity.ItemTouchActivity" />
        <activity android:name=".activity.home.ImageCompressActivity" />
        <activity android:name=".activity.home.recylcer.activity.PullDownActivity1" />
        <activity android:name=".activity.home.recylcer.activity.PullDownActivity2" />
        <activity android:name=".activity.home.recylcer.activity.MultiStateLayoutActivity" />
        <activity android:name=".activity.utils.DataBaseActivity" />
        <activity android:name=".activity.utils.OkHttpActivity" />
        <activity android:name=".activity.utils.GlideActivity" />
        <activity android:name=".activity.home.KeyboardActivity" />
        <activity android:name=".activity.home.keyboard.CustomIdKeyboardActivity" />
        <activity android:name=".activity.home.keyboard.CustomPointKeyboardActivity" />
        <activity android:name=".activity.utils.LogActivity" />
    </application>

</manifest>